<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="{% url 'main:main' %}">홈</a>
        <a href="{% url 'main:about' %}">폭력이란?</a>
        <a href="{% url 'main:institution' %}">관련 기관</a>
        <a href="{% url 'timelog:index' %}">내 저장소</a>
        <a href="{% url 'exitlog:index' %}">탈출기</a>
        <a href="#">프로파일링</a>
    </nav><hr>
    <a href="{% url 'exitlog:detail' exitlog.id %}">이전으로</a>

    <h2>수정하기</h2>
    <form method="POST" aciton="{% url 'exitlog:update' exitlog.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.date }} <br>
        {{ form.title }} <br>
        {{ form.content }} <br><br>

        {% if file_url %}
            기존 파일:<br>
            {% if is_image %}
                <img src="{{ exitlog.file.url }}" width="400" alt="미리보기">
            {% else %}
                <a href="{{ exitlog.file.url }}" target="_blank">{{ exitlog.original_filename }}</a>
            {% endif %}
            <button type="submit" name="delete_file" value="1">현재 파일 삭제</button><br>
        {% endif %}
        {{ form.file }}<br>
        {{ form.url }}<br>

        <button type="submit">수정</button>
</body>
</html>